@charset "utf-8";
/* ===================================================================
CSS information
 file name  :  animation.css
 style info :  only animation class declared here
=================================================================== */


.menu_on {
    -webkit-animation: menuon 0.3s ease;
    -moz-animation: menuon 0.3s ease;
    animation: menuon 0.3s ease;
}

@-webkit-keyframes menuon {
    0% { opacity: 1; -webkit-transform: translate(0, 10px); }
    100% { opacity: 1; -webkit-transform: translate(0, 0); }
}
@-moz-keyframes menuon {
    0% { opacity: 0; -moz-transform: translate(0, 10px); }
    100% { opacity: 1; -moz-transform: translate(0, 0); }
}
@keyframes menuon {
    0% { opacity: 0; transform: translate(0, 10px); }
    100% { opacity: 1; transform: translate(0, 0); }
}


/* Social button --------------------------------------------------*/

.facebook_on {
	-webkit-animation: facebookon 0.5s ease;
    -moz-animation: facebookon 0.5s ease;
    animation: facebookon 0.5s ease;
    -webkit-animation-fill-mode : forwards;
    -moz-animation-fill-mode : forwards;
    animation-fill-mode : forwards;
}

@-webkit-keyframes facebookon {
    0% { fill: #000; }
    100% { fill: #3a5795; }
}
@-moz-keyframes facebookon {
    0% { fill: #000; }
    100% { fill: #3a5795; }
}
@keyframes facebookon {
    0% { fill: #000; }
    100% { fill: #3a5795; }
}

.pinterest_on {
	-webkit-animation: pintereston 0.5s ease;
    -moz-animation: pintereston 0.5s ease;
    animation: pintereston 0.5s ease;
    -webkit-animation-fill-mode : forwards;
    -moz-animation-fill-mode : forwards;
    animation-fill-mode : forwards;
}

@-webkit-keyframes pintereston {
    0% { fill: #000; }
    100% { fill: #bd2126; }
}
@-moz-keyframes pintereston {
    0% { fill: #000; }
    100% { fill: #bd2126; }
}
@keyframes pintereston {
    0% { fill: #000; }
    100% { fill: #bd2126; }
}

.linkedin_on {
	-webkit-animation: linkedinon 0.5s ease;
    -moz-animation: linkedinon 0.5s ease;
    animation: linkedinon 0.5s ease;
    -webkit-animation-fill-mode : forwards;
    -moz-animation-fill-mode : forwards;
    animation-fill-mode : forwards;
}

@-webkit-keyframes linkedinon {
    0% { fill: #000; }
    100% { fill: #0177b5; }
}
@-moz-keyframes linkedinon {
    0% { fill: #000; }
    100% { fill: #0177b5; }
}
@keyframes linkedinon {
    0% { fill: #000; }
    100% { fill: #0177b5; }
}