@charset "utf-8";
/* ===================================================================
CSS information
 file name  :  common.css
 style info :  Basic styles used in every pages
=================================================================== */


html {
  font-size: 16px;
  font-family: 'Roboto', 'Montserrat', 'Playfair Display', Arial, sans-serif;
}

body {
  position: relative;
  line-height: 1.6;
  width: 100%;
  text-align: left;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #000;
}



/* clearfix --------------------------------------------------*/

.clearfix { display: block; }
.clearfix { display: inline-block; }

.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}



/* page top --------------------------------------------------*/

#pagetop {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    right: 30px;
    bottom: 35px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 9999;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 8px;
    left: 10px;
}



/* header --------------------------------------------------*/

header {
    width: 100%;
    background-color: transparent;
    padding: 0 50px;
    box-sizing: border-box;
    z-index: 9999;
}

header { display: block; }
header { display: inline-block; }

header:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}

header .logo {
  float: left;
  padding-top: 36px;
  width: 140px;
  height: 27px;
}

.menu {
  float: right;
  padding-top: 40px;
}

.menu li {
  display: inline-block;
  margin-left: 40px;
  font-size: 0.8125rem;
}

.menu li a {
  color: #000;
  font-family: 'Montserrat', Arial, sans-serif;
}


/* wrapper --------------------------------------------------*/

#wrapper {
  padding: 0 50px;
}


/* title --------------------------------------------------*/

.title_M {
  display: inline-block;
  color: #000;
  font-size: 1.375rem;
  font-weight: bold;
  font-family: 'Montserrat', Arial, sans-serif;
}

.title_M:after {
  content: '';
  display: block;
  height: 9px;
  width: 90%;
  background-color: #d0b669;
  margin-top: 7px;
}

/* about me --------------------------------------------------*/

#about {
  padding-top: 105px;
}

#about .main_copy {
  font-size: 3.2rem;
  line-height: 1.16;
  font-weight: bold;
  font-family: 'Playfair Display', Arial, sans-serif;
  margin-top: 65px;
  letter-spacing:  -0.5px;
}

#about .main_copy span {
  color: #d0b669;
}

#about .follow_text {
  font-size: 0.78125rem;
  margin-top:  32px;
}

.social_text {
  margin-top: 34px;
}

.social_text li {
  display: inline-block;
}

.social_text li a {
  display: block;
  font-size: 0.9375rem;
  font-family: 'Montserrat', Arial, sans-serif;
  position: relative;
  margin-right: 44px;
}

.social_text li a:after {
  content: '';
  display: inline-block;
  background-color: #d0b669;
  width: 2px;
  height: 70%;
  position: absolute;
  right: -26px;
  top: 15%;
  transform: rotate(20deg);
}
.social_text li:last-child a:after {
  display: none;
}
